@use "../base/mixin";
@use "../base/variables";

.contenido-nosotros{
    @include mixin.tablet{
        @include mixin.grid(2, 2rem);
    }
    .imagen{
        margin-bottom: 5rem;
        @include mixin.tablet{ 
            margin-right: 2rem;
            margin-bottom: 0;
        }
        img{
            transform: rotate(-6deg);
            border: 3rem solid variables.$blanco;
            box-shadow: 9px 10px 10px -7px rgb(0, 0, 0, 45%);
        }
    }
    .texto{
        blockquote{
            margin: 0;
            padding: 1rem;
            border-left: 5px solid variables.$primario;
        }
    }
}